img {
  width: 300px;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 20px;
  width: 30%;
}

.teams {
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 20px;
}
